<div>
<h2>Add a collection of numbers to sort (separated by comma): </h2>

<form>
    <div class="form-group">
	    <input #input (keyup)="0" name="sort">
	    <button type="button" (click)="sortInput(input.value)" class="btn btn-primary">
	    	Sort
	    </button>    
    </div>
    <div id="error" *ngIf="error">
    	<span>{{error}}</span>
    </div>
</form>

<h2>Previous Results</h2>
<table *ngIf="results">
	<thead>
		<tr>
			<th>Unsorted</th>
			<th>Sorted</th>
			<th>Time (&micro;s)</th>
			<th>Swaps</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let result of results | async"> 
			<td>{{result.original}}</td>
			<td>{{result.sorted}}</td>  
			<td>{{result.sortTime}}</td> 
			<td>{{result.sortSwaps}}</td> 
		</tr>
	</tbody>

</table>
