input{
	width : 50%;
}
#error{
	margin-top:5px;
}
#error span{
	color: white;
	background-color: red;
}

td,th{
	text-align: center;
	max-width: 10%;
	border: 1px solid;
	padding:2px;
}
table{
	max-width: 90%;
}